[submodule "Browsergym"]
	path = Browsergym
	url = https://github.com/elsoroka/BrowserGym.git
	branch = main
[submodule "AgentLab"]
	path = AgentLab
	url = https://github.com/elsoroka/AgentLab.git
	branch = verified_trajectories
