[submodule "Browsergym"]
	path = Browsergym
	url = https://github.com/wbsg-uni-mannheim/BrowserGym.git
	branch = main
[submodule "AgentLab"]
	path = AgentLab
	url = https://github.com/YOUR_USERNAME/AgentLab.git
	branch = main
